.main-section{
  width: 100vw;
  height: 100vh;
  background-color: #45454550;
  position: fixed;
  overflow: hidden;
}

.desktop,
.desktop * {
  box-sizing: border-box;
}
.desktop {
  background: transparent;
  width: 1920px;
  height: 1080px;
  position: fixed;
  overflow: hidden;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 300px;
  margin-right: 300px;
}
.days {
  background: linear-gradient(
    188.23deg,
    rgba(48, 48, 48, 1) 0%,
    rgba(107, 107, 107, 1) 100%
  );
  width: 558px;
  height: 1029px;
  position: absolute;
  left: 38px;
  top: 25px;
  overflow: hidden;
}
.header {
  width: 558px;
  height: 43px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.head {
  background: #454545;
  width: 558px;
  height: 43px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.day {
  outline: none;
  padding: none;
  border: none;
  background-color: #454545;
  color: #ffffff;
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 556px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.year-add-fragment {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  padding: none;
  border: none;
  width: 26.92px;
  height: 30.72px;
  position: absolute;
  left: 517px;
  top: 9px;
}

.day-add-fragment {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  padding: none;
  border: none;
  width: 26.92px;
  height: 30.72px;
  position: absolute;
  left: 517px;
  top: 9px;
}

.month-add-fragment {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  padding: none;
  border: none;
  width: 26.92px;
  height: 30.72px;
  position: absolute;
  left: 517px;
  top: 9px;
}

.rectangle-1 {
  background: #d9d9d9;
  width: 20px;
  height: 3px;
  position: absolute;
  left: 22px;
  top: 24.32px;
  transform-origin: 0 0;
  transform: rotate(-75deg) scale(1, 1);
}
.rectangle-2 {
  background: #d9d9d9;
  width: 20px;
  height: 3px;
  position: absolute;
  left: 14px;
  top: 24.32px;
  transform-origin: 0 0;
  transform: rotate(-75deg) scale(1, 1);
}
.rectangle-3 {
  background: #d9d9d9;
  width: 20px;
  height: 3px;
  position: absolute;
  left: 6px;
  top: 24.32px;
  transform-origin: 0 0;
  transform: rotate(-75deg) scale(1, 1);
}

.day-to-do-list,
.month-to-do-list,
.year-to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 558px;
  height: 985px;
  position: absolute;
  left: 0px;
  top: 44px;
  overflow-y: scroll;
}

.day-to-do-list::-webkit-scrollbar,
.month-to-do-list::-webkit-scrollbar,
.year-to-do-list::-webkit-scrollbar {
  display: none;
}

.month {
  background: linear-gradient(
    179.29deg,
    rgba(48, 48, 48, 1) 0%,
    rgba(107, 107, 107, 1) 100%
  );
  width: 558px;
  height: 1029px;
  position: absolute;
  left: 681px;
  top: 25px;
  overflow: hidden;
}
.header2 {
  width: 556px;
  height: 42px;
  position: absolute;
  left: 1px;
  top: 1px;
}
.head2 {
  background: #454545;
  width: 558px;
  height: 43px;
  position: absolute;
  left: -1px;
  top: -1px;
}
.month2 {
  outline: none;
  padding: none;
  border: none;
  background-color: #454545;
  color: #ffffff;
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 556px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.year {
  background: linear-gradient(
    165.65deg,
    rgba(48, 48, 48, 1) 0%,
    rgba(107, 107, 107, 1) 100%
  );
  width: 558px;
  height: 1029px;
  position: absolute;
  left: 1324px;
  top: 25px;
  overflow: hidden;
}
.header3 {
  width: 561px;
  height: 43px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.head3 {
  background: #454545;
  width: 561px;
  height: 43px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.year2 {
  outline: none;
  padding: none;
  border: none;
  background-color: #454545;
  color: #ffffff;
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 556px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-main-fragment{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: fixed;
  margin-left: 4px;
  margin-right: 4px;
}

.todo-fragment,
.todo-fragment * {
  box-sizing: border-box;
}
.todo-fragment {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  padding: 5px;
  background: #8F8F8F30;
  width: 550px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.check {
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
  position: absolute;
}

.check-label {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  cursor: pointer;
}

.check-label::before {
  margin-bottom: 5px;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  content: "";
  position: absolute;
  left: 511px;
  top: 6px;
  width: 20px;
  height: 20px;
  border: 2.5px solid #d9d9d9;
  background-color: transparent;
}

.check-label::after {
  margin-bottom: 5px;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  content: "";
  position: absolute;
  left: 511px;
  top: 6px;
  width: 22px;
  height: 22px;
  background-color: #d9d9d9;
  opacity: 0;
}

.check:checked + .check-label::after {
  opacity: 1;
}

.check-label:hover::before {
  border-color: #ccc;
}

.check-label:hover::after {
  background-color: #ccc;
}

.create-something {
  background-color: transparent;
  border: none;
  outline: none;
  padding: none;
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 36px;
  top: 6px;
  width: 460px;
  height: 28px;
}
.remove-fragment {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 16.26px;
  height: 16.26px;
  position: absolute;
  left: 9px;
  top: 12px;
}
.rectangle-4 {
  background: #d9d9d9;
  width: 3px;
  height: 16px;
  position: absolute;
  left: 1px;
  top: 3.12px;
  transform-origin: 0 0;
  transform: rotate(-45deg) scale(1, 1);
}
.rectangle-5 {
  background: #d9d9d9;
  width: 3px;
  height: 16px;
  position: absolute;
  left: 12.31px;
  top: 1px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}

.preority {
  cursor: pointer;
  background-color: var(--default-color, #d9d9d9);
  width: 3px;
  height: 50px;
  position: absolute;
  left: 544px;
  top: -4px;
}

.preority[data-color-index="0"] {
  --default-color: #d9d9d9;
}

.preority[data-color-index="1"] {
  --default-color: #149C22;
}

.preority[data-color-index="2"] {
  --default-color: #FFB800;
}

.preority[data-color-index="3"] {
  --default-color: #DD0808;
}